{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Transparent encryption in HDFS
    created: 2015-05-27 12:34:00
%}

{% block article %}

{%article%}

{% excerpt %}

I went on a little European roadshow last month, presenting my recent work on transparent encryption in HDFS at [Hadoop Summit Brussels](http://2015.hadoopsummit.org/brussels/) and [Strata Hadoop World London](http://strataconf.com/big-data-conference-uk-2015/public/schedule/detail/39913).
I'll also be giving the same talk this fall at Strata Hadoop World NYC, which will possibly be the biggest audience I've ever spoken in front of.

Slides: [pptx](/presentations/transparent_encryption_hdfs_clamb_awang-2015-04-28.pptx)
Video: [Hadoop Summit Brussels (youtube)](https://www.youtube.com/watch?v=rTiEcRwy5G4)

If you have access to O'Reilly, there should be a higher quality video available there.

{%endexcerpt%}

{%endarticle%}

{% endblock %}
