{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Hello world!
    created: 2011-03-30 01:34:29
%}

{% block article %}

{%article%}

{% excerpt %}

Hello world! This is my new blog and profile site, purely static HTML hosted out of S3. 
Since I find this to be a neat trick, I'm going to make the howto into my second-ever blog post.
This site is still very much under development, I have lots of ideas for neat features I want to add (comments being the first), but it's good enough to put live.

{%endexcerpt%}

{%endarticle%}

{% endblock %}
