{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Paper review: Megastore"
    created: 2011-09-24 19:35:00
    draft: True
%}

{% block article %}

{%article%}

{% excerpt %}

This is a paper review of "Megastore: Providing Scalable, Highly Available Storage for Interactive Services" by Baker et al. This was published at CIDR in 2011. The basic idea is providing ACID semantics over the Internet with highly partitioned datasets and Paxos.

{%endexcerpt%}

Rest of article goes here.

{%endarticle%}

{% endblock %}
