{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Paper review: SCADS"
    created: 2011-10-12 15:51:00
    draft: True
%}

{% block article %}

{%article%}

{% excerpt %}

This is a paper review of "SCADS: Scale-Independent Storage for Social Computing Applications" by Armbrust et al. This was published at CIDR in 2009. In a nutshell, SCADS is a key-value store that lets programmers choose their own consistency model and semantics, and restricts queries to be "scale-independent", i.e. requiring a constant amount of work.

{%endexcerpt%}

### Main idea
I think SCADS chooses an interesting point in the scalable storage design space to focus on.

* Simple key-value storage interface
* A query language that only allows constant-time requests (no O(n) operations that fail at scale)
* Declarative, tunable consistency models, letting the programmer specify consistency at the level of application requirements

This makes me feel the comparison against Facebook's heavily sharded MySQL cluster behind memcached is kind of unfair, but there is still a lot of merit behind these ideas.



{%endarticle%}

{% endblock %}
