{% extends "_staticpage.html" %}

{%hyde
    title: "About"
%}


{% block article %}

<a href="/media/images/andrew_portrait.jpg"><img width=250px" alt="Andrew Wang" style="float:left; padding:0 1.5em 1.5em 0;" src="/media/images/andrew_portrait.jpg"/></a>

I'm heavily impact-driven, and I want to solve real-world problems at scale. To me, this is part of the draw of computer science: the code I write can end up being used by millions of people. More specifically, I'm interested in distributed systems, storage, and large-scale analytics (aka "big data"), which fortunately have many applications to said real-world problems.

I also keep a [bucket list]({{nav_links.bucket_list}}) of things that I want to accomplish. It's a way of ensuring that the big picture remains in view, even when you get caught up in the minutia of the day-to-day.

### Professional Bio ###

<em>Andrew Wang is a software engineer at [Cloudera](http://cloudera.com) on the HDFS team. Previously, he was a PhD student in the [AMP Lab](http://amplab.cs.berkeley.edu) at [UC Berkeley](http://eecs.berkeley.edu), where he worked on problems related to distributed systems and warehouse-scale computing. He is a committer and PMC member on the Apache Hadoop project, and holds masters and bachelors degrees in computer science from UC Berkeley and UVa respectively.</em>

### Experience ###

See my [research page]({{nav_links.research}}) for a listing of my academic projects and papers.

During undergrad, I also interned twice at [NavigationArts](http://navigationarts.com), an enterprise web development company in McLean, VA, and once at [SPAWAR Systems Center](http://www.spawar.navy.mil/sandiego/) in San Diego, CA, working on low-cost, long-range, ship-to-ship wireless communication with commodity 802.11 parts.

### Other activities ###

I try to keep myself distracted outside of work. I've taken up cycling since arriving in California, but my first love is for rowing, a sport I did for four years in high school with moderate championship success. These days, I'm also attempting to learn electric guitar. I still read for pleasure (philosophy, sci-fi, fantasy, history), but wish I had the time to make this a regular habit. Finally, I also like to cook and eat; I like hosting dinner parties for my friends and exploring new restaurants.

{% endblock %}
