{% extends "_staticpage.html" %}

{%hyde
    title: "About"
%}


{% block article %}

As clich&eacute;d and hopelessly idealistic as it may sound, I want to change the world for the better. I'm heavily impact-driven, and I want to solve real-world problems that tangibly affect people's lives. This is one of the things that drew me to computer science in the first place: the bits you flip can literally be used by millions of people. More specifically, I'm interested in distributed systems, storage, and large-scale analytics (aka "big data").

I also keep a [bucket list]({{nav_links.bucket_list}}) of things that I want to accomplish. It's still short, but I take completing and updating it pretty seriously. It's a way of ensuring that the big picture remains in view, even when you get caught up in the day-to-day.

### Professionally ###

I'm a software engineer at [Cloudera](http://cloudera.com) working on the HDFS team. Formerly, I was a graduate student at the [University of California, Berkeley](http://eecs.berkeley.edu) in the [AMP Lab](http://amplab.cs.berkeley.edu), and got my undergraduate degree in computer science at the [University of Virginia](http://www.virginia.edu). Finally, I did my high school education at [Thomas Jefferson HSST](http://en.wikipedia.org/wiki/Thomas_Jefferson_High_School_for_Science_and_Technology), so I've been educated at public schools through and through. My interests are in distributed systems and datacenters, see my [research page]({{nav_links.research}}) for details on my academic projects and papers from when I was at Berkeley.

During undergrad, I interned twice at [NavigationArts](http://navigationarts.com), an enterprise web development company in McLean, VA, and once at [SPAWAR Systems Center](http://www.spawar.navy.mil/sandiego/) in San Diego, CA, working on low-cost, long-range, ship-to-ship wireless communication with commodity 802.11 parts.

### Other activities ###

I still keep myself distracted outside of work. I've taken up cycling since arriving in California, but my first love is for rowing, a sport I did for four years in high school with moderate championship success. I haven't had time to take it up again, but I'm looking forward to rowing on the Bay. These days I'm also teaching myself electric guitar. I still try to read for pleasure (philosophy, sci-fi, fantasy, history), and wish I had the time to make this a regular habit. My final passion is food: I like hosting dinner parties for my friends and exploring new restaurants.

{% endblock %}
