{% extends "_staticpage.html" %}

{%hyde
    title: "Bucket list"
%}


{% block article %}

A bucket list is a list of things to accomplish before you proverbially kick the bucket. Everyone has an adhoc list like this in their head ("climb Everest", "go backpacking through Europe", "learn to solve a Rubik's cube"), but actually enumerating them and writing them down makes these goals a lot more concrete, and thus a lot more likely to actually reach fruition. Part of this process is regularly considering the list and making progress on some items. Theoretically, this should be easy (after all, if it's on the list, it's something you actually want to do!) but it's also easy to choose convenient short-term entertainment over enduring long-term life experiences.

What follows is my list, ordered chronologically by when they were added to the list. I'll update this page and hopefully blog whenever something is checked off.

1. Travel around Asia for at least a month, seeing China, Vietnam, Japan, and Thailand. This list is not fixed, but the duration is important.
1. <del>Catch a fish, clean it, cook it, and eat it. Specifically, I want to do it on-site. There are [free fishing days](http://www.dfg.ca.gov/licensing/fishing/freefishdays.html) and [Lake Anza](http://www.ebparks.org/parks/tilden) seems like a good location since it also has a picnic area.</del> Completed as of Dec 2014, see [related blog post]({{nav_links.bucket_list_fish}}) for details and picture.
1. Go backpacking in one of the great national parks, namely Yosemite or Yellowstone.
1. <del>Attend and obtain a degree from graduate school.</del> Done as of December 2012, with my master's from Berkeley. Go Bears!
1. Spend a month living like a monk at a Buddhist temple (perhaps McLeod Ganj).
1. Be a confident, poised public speaker.
1. Get a black belt in a martial art.
1. Get a patch into the Linux kernel. As of August 2013, I'm a committer on Apache Hadoop, which fills a similar role in wanting to contribute to open source, but I'm leaving this one up for now.
1. Find a job that lets me accomplish the rest of these things, in terms of time off and compensation.
1. Go stargazing in the middle of the desert, where it's truly dark. A good candidate right now seems like [Pinnacles Wilderness](http://en.wikipedia.org/wiki/Pinnacles_National_Monument) since it's relatively close and still has some amenities nearby because of the national monument.
1. <del>Publish a peer-reviewed paper.</del> Done as of Spring 2010, see my [research page]({{nav_links.research}}).
1. <del>Experience full lucid dreaming.</del> Two lucid experiences, still haven't been able to fly (just hover). Not completely finished.
1. Learn guitar and play a gig. As of Dec 2012, I can jam the blues a bit thanks to classes. No gig yet, unless you count playing impromptu at parties.
1. <del>Cycle a century (100 miles).</del> Done as of Jan 2013, see the [blog post](/blog/2013/bucket_list_century.html).

{% endblock %}
