{% extends "_staticpage.html" %}

{%hyde
    title: "Bucket list"
%}


{% block article %}

A bucket list is a list of things to accomplish before you proverbially kick the bucket. Everyone has an adhoc list like this in their head ("climb Everest", "go backpacking through Europe", "learn to solve a Rubik's cube"), but actually enumerating them and writing them down makes these goals a lot more concrete, and thus a lot more likely to actually reach fruition. Part of this process is regularly considering the list and making progress on some items. Theoretically, this should be easy (after all, if it's on the list, it's something you actually want to do!) but it's also easy to choose convenient short-term entertainment over enduring long-term life experiences.

What follows is my list, ordered chronologically by when they were added to the list. I'll update this page and hopefully blog whenever something is checked off.

1. Travel around Asia for at least a month, seeing China, Vietnam, Japan, and Thailand.
1. Catch a fish, clean it, cook it, and eat it.
1. Go backpacking in one of the great national parks, namely Yosemite or Yellowstone.
1. Attend and obtain a degree from graduate school.
1. Spend a month living like a monk at a Buddhist temple (perhaps McLeod Ganj).
1. Be a confident, poised public speaker.
1. Get a black belt in a martial art.
1. Get a patch into the Linux kernel.
1. Find a job that lets me accomplish the rest of these things, in terms of time off and compensation.
1. Go stargazing in the middle of the desert, where it's truly dark.
1. <del>Publish a peer-reviewed paper.</del> Done as of Spring 2010, see my [research page]({{nav_links.research}}).
1. <del>Experience full lucid dreaming.</del> Two lucid experiences, still haven't been able to fly (just hover). Not completely finished.
1. Learn guitar and play a gig.

{% endblock %}
