{% extends "umbrant/body.html" %}

{%hyde
    title: "Home"
    created: 2011-03-29 20:50:00
    listing: True
%}

{% block content_body %}

	{% for page in site.walk %}
		{% ifequal page.name "blog" %}

		{% recent_posts recents 4 page  %}
		{% for post in recents %}

			{% if not post.draft %}
			<div class="post">
				<h2 class="title"><a href="{{post.url}}">{{post.title}}</a></h2>
				<p class="meta"><span class="date">{{post.created|date:"F j, Y"}}</span></p>
				<div class="entry">
					{% render_excerpt post 300 %}
					<p class="links"><a href="{{post.url}}">Read More</a>&#160;&#160;&#160;&#160;|&#160;&#160;&#160;&#160;<a href="{{post.url}}#disqus_thread">Comments</a></p>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		{% endifequal %}
	{% endfor %}

{%endblock%}
