{% extends "_staticpage.html" %}

{%hyde
    title: "Quotes"
%}


{% block article %}

<blockquote>
It doesn't get any easier, you just go faster.
</blockquote>
Greg LeMond

<blockquote>
The folly of mistaking a paradox for a discovery, a metaphor for a proof, a torrent of verbiage for a spring of capital truths, and oneself for an oracle, is inborn in us.
</blockquote>
Valery

<blockquote>
I hated every minute of training, but I said, "Don't quit. Suffer now and live the rest of your life as a champion."
</blockquote>
Muhammad Ali

<blockquote>
Now I am become Death, the destroyer of worlds.
</blockquote>
J. Robert Oppenheimer, quoting the Bhagavat Gita after Trinity

{% endblock %}
