{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Bucket list: Cycling a Century"
    created: 2013-01-18 19:28:00
%}

{% block article %}

{%article%}

{% excerpt %}

I've been taking a little time off in between transitioning from grad life at Berkeley to working full-time at Cloudera. I decided to use some of this vacation time to check off a bucket list item: bicycling an imperial century (100 miles). Here's my experience, and advice for anyone who wants to do the same.

{%endexcerpt%}

The route I did is called [The Cheese Factory Century](http://inl.org/cycling/rides/the-cheese-factory-century/). It's basically a tour of North Bay; across the Golden Gate Bridge, out to Tiburon, up to San Rafael, Novato, then looping back through Lucas Valley and back across the Bridge. Strava only recorded 4.4k ft of climbing, and there weren't any major climbs. I particularly enjoyed Lucas Valley; cows, rolling green hills, picturesque lakes, and not much traffic. Unfortunately I didn't have time to take any pictures, but it's pretty enough to warrant another trip. Total rolling time was 7:16, but including breaks about 9 hours. I was impressed with the route markers and availability of bike lanes; NorCal really gets this right.

This is by far the longest ride I've ever done, which hopefully is encouraging to others. My previous distance PR was 60 miles, and adding another 40 miles didn't really change things that much physically. Last week I did a 50mi test ride of part of the route and still felt pretty good afterwards, so I decided to tackle the big kahuna.

The real challenge is in your head. I rode about 50 miles before lunch without major difficulties, but around mile 60 the self-pity really started kicking in. Miles 70-85 were probably the hardest. At that point, everything hurts, and there's not much you can do about it. Padded bike shorts only help so much, your arms ache from having held your body up for hours on end, one knee develops a twinge, and your quads feel like they're on the verge of cramping. I spent those miles ineffectually readjusting body position and grip and trying to think happy thoughts.

Around mile 85 I was out of Lucas Valley and starting to recognizing the territory (important morale boost) but those were still slow, slow miles. It was terrible to see tenths coming off my average speed, even after having banked 6 hours of effort. I stopped caring about that though around mile 95 when I realized I was going to make it, and seeing my GPS tick over to 100 right after crossing the GGB was a magical moment.

### Advice

If you want to try this yourself, the standard long-ride advice applies, just more so.

* Check your bike and check yourself. There were times when I was 15 miles from civilization, and it would have been really bad to have a breakdown or spill. My test ride let me assess my physical condition, and also helped me learn the route (really important).

* Wear layers. If you're traversing 100 miles, you're going to both bake in the sun and freeze in the shade. Make sure you can adjust without stopping.

* Bring lots of provisions. I ate a Clif bar, a pack of Shot Bloks, and a pack of Honey Stingers while riding. I also had 2x24oz bottles filled with watered-down Gatorade, which I refilled periodically. Still, both bottles were dry when I got home, so the extra capacity was important. Having bonked hard on a ride before, I made sure to eat and drink preemptively and often. I also had a brownie and coffee in Tiburon, and had a massive meatball sub and Gatorade for lunch in Novato.

* Start early. I started just before 9AM, but better would have been 8 or even 7:30. I realized before lunch that I was going to run out of daylight. This was definitely a motivator for miles 85+ (chasing the last rays of the sun), and I managed to catch sunset right as I crossed the GGB around 5:30PM.

* Stay in the drops. I observed maybe a ~2mph boost from being in the drops, which is huge.

* Keep pedaling. It's the only way to eat up the miles. Corollary is to avoid stopping. Personally, there was also a huge psychological benefit to having a simple mantra like this to focus on when the pain set in, e.g. miles 70+.

### Conclusion

It's done, and I'm really glad I set out to do this. It was totally different from my other athletic experiences. Crew races only last 5 or 6 minutes, and while there is a big psychological component, it's a totally different kind of hurt. My other long rides were also with groups, while this one I did solo and was much longer. Spending 9 hours in the saddle forces you to confront your physical and mental limitations again and again. This is one of the reasons I like cycling though: when it comes down to it, there's just you, your bike, and the road in front of you. No one else is going to pedal your bike for you, and the sooner that sinks in, the sooner you get up the hill.

{%endarticle%}

{% endblock %}
