{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: Highly-available audio in HDFS
    created: 2013-04-01 18:00:00
%}

{% block article %}

{%article%}

{% excerpt %}

Here on the HDFS team at [Cloudera](http://www.cloudera.com/), we believe in [eating our own dogfood](http://en.wikipedia.org/wiki/Eating_your_own_dog_food). Since we value our (substantial) MP3 collections quite dearly, it's only natural to store them in a high performance, highly-available, enterprise-quality distributed filesystem like HDFS. Today, I'm announcing the next generation in aural HDFS enjoyment: listening to music directly from the Namenode web UI.

{%endexcerpt%}

It's easy to use existing music players with HDFS through [FUSE-DFS](http://wiki.apache.org/hadoop/MountableHDFS) or Cloudera's [NFS proxy](https://github.com/cloudera/hdfs-nfs-proxy), but what if you want a zero-configuration way of listening to your tunes *now*? This is the goal of my new pet project, `hdfs-player.js`:

[Source code](https://gist.github.com/umbrant/5289176)

[Bookmarklet maker](http://ted.mielczarek.org/code/mozilla/bookmarklet.html)

Copy paste the source code into the bookmarklet maker, drag the bookmarklet into your toolbar, browse to the directory containing your music in the web UI, and prepare for excitement. Transform this boring old web UI:

<img width="559px" alt="Before" src="hdfs-player/nn_before.png"/>

Into the spectacular this:

<img width="559px" alt="After" src="hdfs-player/nn_after.png"/>

Use Chrome for MP3 playback, FF only supports Ogg and wav.

Happy listening, everyone!

{%endarticle%}

{% endblock %}
