{% extends "umbrant/body.html" %}

{% block content_header %}
{% endblock %}

{% block content_body %}

		<div class="post single">
			<h2 class="title"><a href="{{post.url}}">{{page.title}}</a></h2>
			{% block meta %}
			<p class="meta"><span class="date">{{page.created|date:"F j, Y"}}</span></p>
			{% endblock %}
			<div class="entry">
			{% filter typogrify %}

			{% markdown %}

			{% block article %}
			{% endblock %}
				
			{% endmarkdown %}

			{% endfilter %}
			</div>
		</div>
{% endblock %}


{% block content_footer %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'umbrant'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{page.url}}';
    var disqus_url = '{{page.full_url}}';
    var disqus_developer = 1;

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}


{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}
