{% extends "_post.html" %}

{%load webdesign %}

{%hyde
    title: "Year in review: 2011 (personal)"
    created: 2012-01-05 21:44:00
%}

{% block article %}

{%article%}

{% excerpt %}

I like to take some time every once in a while to think about what I've done that I'm proud of, what I've learned, and what I want to do. With the beginning of a new year comes the perfect opportunity to reflect on my life in the year past.

I've split it into two separate blog posts, one [professional](/blog/2012/year_in_review_2011_professional.html) (meaning research and grad school life) and one [personal](year_in_review_2011_personal.html) (meaning hobbies, self-improvement, life goals). This post covers the latter; my personal life in 2011.

{%endexcerpt%}

This post is also split up into different sections. The first is again accomplishments, then I cover time management, my 3 main hobbies these days, and then misc other personal stuff.


### Accomplishments

* Got a bugfix patch into Hadoop. This happened at one of the Cloudera hackathons, I showed up and fixed something off JIRA, and now people are using it. It's not quite the Linux kernel patch on my [bucket list](/bucket.html), but it's a step.
* Bootstrapped myself as a guitarist. Literally just bought one and started playing last January, and it's worked out okay.
* Became a better public speaker. I credit the two hours of teaching section every week. I'm not ready to cross it off the bucket list yet (might never), but I think I've improved.
* Can order Indian food reasonably well. Credit here goes to Zaika Tuesdays last semester.
* I got my RSI under control. I was actually worried in the summer that I'd have to drop out of grad school and find a new profession unrelated to a keyboard, but it turned out okay after physical therapy.


### Time management

* Overall, I'm reasonably happy with how much I got done. I'd estimate my productivity these days at somewhere around 70-80%, and there's always going to be some slop there.
* Balance. I spent last semester either working furiously or burnt out, and that's not optimal. Being burnt out basically gives you an excuse to not do anything for an indefinite amount of time, and I hate making excuses to myself.
* To add to the previous point, I think having regular, recurring events each week will help me stay sane.
* Intentionally scheduling my meetings early was a great way of forcing myself to work almost a 9-to-5.
* Getting enough sleep actually happened last semester, and it was glorious. This also goes back to not making excuses to myself (about underachieving because I'm tired).
* I need to make conscious decisions to do less of some things and more of others, since time is precious.


### Hobbies

#### Cooking
* Cooking has tapered off as an interest, as I've achieved some level of optimality in the "effort expended vs. output achieved" metric. I don't have hours every week to spend cooking up new stuff.
* I still think it'd be good to do something new once a week, or once a month. I'm going to avoid anything elaborate or complicated though, I'm past that phase.
* I do want to keep cooking club going this year though, since it fell flat as soon as I got swamped with teaching and research last semester. It fulfills a social niche that isn't met by weekend parties, and it's nice to have some continuity with the same group of people.  

#### Guitar 
* Guitar-wise, I need to be more structured about how I practice. Focus on repetition until mastery, not just noodling around for an hour.
* I want to make it a goal to play more with other people, since doing it over break was a lot of fun.
* I'm also going to make it a point to improv 12-bar blues as part of my practice sessions.

#### Bicycling 
* Bicycling was something I missed a bunch when I was working furiously, it was a really great way of starting off my Saturdays.
* I want to find some new rides, since doing 3 Bears is getting a little repetitive.
* The cycling list died out a bit when I stopped organizing rides; I'd like to get it to the point where it's stable without me.


### Personal

* I'm not convinced I want to stick with the PhD thing all the way through yet. Grad school hasn't exactly been smooth sailing for me, but it seems to be trending upwards. This will be an important year in making a decision, since the master's is a good drop-out point.
* Balance again. I still do believe in work-life integration, but when you're working 12-16 hours 6 days a week and eating out for every meal because of it, it's gone too far.
* I need to write in my journal more, and write more blog posts about things I find interesting.
* Strangely, I think I need to spend more money. When you're living on a grad student stipend, that little bit you could save has a high marginal utility if spent instead.
* I'm looking forward to TGIF with my cube from now on, the one time we did it in December before everyone left was great.

{%endarticle%}

{% endblock %}
